{{#isFormParam}}{{#notFile}}@Part(value="{{baseName}}") {{{dataType}}} {{paramName}}{{/notFile}}{{#isFile}}{{#useBeanValidation}}@Valid{{/useBeanValidation}} CompletedFileUpload {{baseName}}{{/isFile}}{{/isFormParam}}